
.main_background{
    display: flex;
}
.main_layout{
    padding: 5% 15%;
}

.contact_title{
    color: rgb(214,68,77);
    font-size: 32px;
}
.contact_distance{
    margin-top:5%;
}
.main_contain{
    width: 50%;
}

@media screen and (max-width:1100px) {
    .main_background{
        flex-direction: column;
    }
    .main_contain{
        width: 100%;
    }

    .desc_layout{
        margin-top: 5%;
    }
}