.contactus_border,.contactus_min_border{
    border: 2px solid #d43a43;
    border-radius: 8px;
    display: "flex";
}
.contact_img{
    margin-right: 40px;
    display: flex;
    width: 40%;
    padding:6px;
}

.contact_min_border{
    display: none;
}

@media screen and (max-width:675px) {
  .contactus_border{
    display: none;
  }   
  .contact_img{
    width: 100%;
    padding: 10%;
    margin-right: 0;
  }
  .contact_min_border{
    display: block;
  }
  .contact_total{
    padding: 5%;
  }
}



@media screen and (min-width:675px) {
    .contactus_border{
        display: flex;
    }
    .contact_min_border{
        display: none;
    }
    .contact_total{
        padding: 5%;
    }
}