.GoodsItem {
    width: 25%;
    cursor: pointer;
    /* height: 10%; */

    position: relative;
    /* height: 15rem; */
}
.GoodsItem:hover .goods_img_cover::before{
    display: block;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    left: 0;
    z-index: 1;
    height: 100%;
    content: "";
    position: absolute;
    transition: 300ms;
}
/* .goods_img_cover:hover::before {
    display: block;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    opacity: 0;
    transition: 300ms;
    top: 0;
    position: absolute;
    z-index: 10;
    height: 100%;
    opacity: 0;
    transition: 300ms;
} */

.goods_hover_img {
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 8;
    height: 100%;
    opacity: 0;
    transition: 300ms;
    position: absolute;
}

.GoodsItem:hover .goods_hover_img {
    opacity: 1;
    transition: 300ms;
}
.GoodsItem:hover .buy_goods_btn{
    opacity: 1;
}
/* .goods_img_cover:hover::before{
  display: block;
  border-radius: 16px;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  left: 0;
  z-index: 1;
  height: 100%;
  content: "";
  position: absolute;
} */
/* .goods_img_cover:hover .buy_btn {
    display: flex;
} */

.goods_img_cover:hover .an_fangda {
    animation: fangda 400ms;
}

.buy_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    padding: 1.5% 6%;
    /* display: none; */
    opacity: 0;
    border: none;
    z-index: 2;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}
.buy_goods_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    padding: 1.5% 6%;
    /* display: none;
     */
     opacity: 0;
    border: none;
    z-index: 12;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

@keyframes fangda {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
.GoodsItem:hover .buy_btn{
   opacity: 1;
   /* z-index: 2; */
}
.GoodsItem:hover .goods_img_cover::after{
   content:"";
   display: block;
   left:0;
   top:0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.4);
}

.Iscategory:hover .goods_title {
    /* backgroundColor:'#d43a43',color:'white' */
    animation: littletransition 0.4s;
    background-color: #d43a43;
    color: white
}

/* .Iscategory:hover .buy_btn {
    display: flex;
} */

/* .GoodsItem:hover::before{
    display: block;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    left: 0;
    z-index: 1;
    height: 100px;
    content: "";
    position: absolute;
    color: red; */
/* } */
/* .goods_img:hover::before{
    display: flex;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100px;
    height: 100px;

} */
@keyframes littletransition {
    from {
        background-color: white;
        color: black
    }

    to {
        background-color: #d43a43;
        color: white;
    }
}

.goods_carsouel_price {
    background-color: black;
    padding: 2px 1rem;
    color: white;
    /* width: 100%; */
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.goods_price {
    text-align: center;
    color: #d43a43;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goods_title {
    /* width: 50%; */
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    margin: 0 auto;
    color: #d43a43;
    padding: 0.3rem 0.2rem;
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid #d43a43;
}

.goods_img {
    border-radius: 16px;
    position: relative;
}


@media screen and (max-width:1100px) {
    .GoodsItem {
        width: 33%;
        /* height: 15rem; */
    }
}

@media screen and (max-width:670px) {
    .GoodsItem {
        width: 50%
    }
}