.banner {
  width: 100%;
  /* height:970px; */
  /* background-color:aquamarine; */
  overflow: hidden;
  /* background-image: url("/homepage/top-banner.png"); */
  background-size: 100%;
  background-repeat: no-repeat;
}
.textArea li,.textArea ul{
  margin: 0;
  list-style:disc!important;
}
.bannerTwoColumn:hover{
  transform: scale(1.05);
  transition: 300ms;
  /* cursor: pointer; */
}
.textArea ul{
  margin-left: 16px;
  padding: 0;
}
.textArea li{
  margin-top: 0.4vw;
  color: white;
}
.banner_layout {
  width: 60%;
  /* height: 5rem; */
  /* background-color: red; */
  margin: 8rem auto;
}

.banner_buttom {
  /* margin-top: 3rem;/ */
  margin: 2rem auto 0;
  padding: 0.5rem 2.5rem;
  font-size: 20px;
  background-color: #d43a43;
  color: white;
  letter-spacing: 0.2rem;
}

.search_area {
  /* margin-top: 3rem; */
  padding: 1rem;
  /* border: 1px solid rgba(255,255,255,0.7); */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
}


.input::placeholder {
  color: white;
}

.top_banner_area {
  padding: 21% 15%;
  width: 100%;
}

.scroll_left,
.scroll_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* padding: 0.5rem 1rem; */
}

.scroll_left {
  left: 0;
}

.scroll_right {
  right: 0;
}

.scroll_left:hover,
.scroll_right:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.main_body {
  /* padding:3rem 10% 0; */
  /* background-image: url("/homepage/分類背景.png"); */
  /* background-size: 100% 100%; */
}

.goods_list {
  /* background-color: red; */
  padding: 3rem 21%;
  /* background-image: url("/homepage/分類背景.png"); */
  /* background-color: #f1f1f1; */
  background-size: 100% 100%;
}

.contactus,
.goods_scroll,
.goods_view {
  /* background-color: red; */
  padding: 3rem 21% 0;


}

.contactus {
  padding-bottom: 3rem;
}

.distance {
  flex: 1;
  height: 1px;
  margin: 0 5%;
  border-bottom: 1px dashed #d43a43;
}

.goods_scroll {
  margin-top: 1rem;
}
.gooodsdsdssdsd{
  width:'100%'
}
.title {
  /* width: 20rem; */
  color: #d43a43;
  font-size: 1.5rem;
  /* margin: 0 2rem; */
  text-align: center;
}

.distance_pic {
  width: 100%;
  background-image: url('/homepage/小段背景.png');
  background-size: 100% 100%;
  padding: 8% 20%;
  color: white;
  text-align: center;
}

.serach_icon {
  font-size: 20px;
}

@media screen and (min-width:750px) {
  .desc_banner_contain,.top_banner_area {
    padding: 10%;
    width: 50%;
    margin-left: 5%;
  }
  .s_spec_banner{
    padding: 12% 0;
  }
  .s_spec_banner img{
    padding: 0 10% ;
  }
  .n_desc_banner{
    width: 40vw;
    margin: 30% 0;
  }
  .adapt_pic{
    width:30vw;
    /* height: 37vw; */
  }
  .spec_banner{
    padding: 10%;
    margin-top: 24px;
    width: 50%;
    display: flex;
    margin: auto;
  }
  .padLayout{
    padding: 0 15%;
  }
  .textArea li{
    font-size: 0.8vw;
  }

  .textArea{
    padding:4vw;
  }
}

.banner_desc {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 15%;
  transform: translateY(-50%);
}

@media screen and (max-width:1100px) {
  .goods_scroll {
    padding: 0;
  }
  

  .distance_pic,
  .goods_view {
    padding: 3rem 10% 3rem;
  }

  .goods_list {
    padding: 1rem 15% 1rem;
  }

  .contactus {
    padding: 0;

  }

  .banner{
    background-position-y:  -40px;
  }
  .goods_list {
    /* background-color: red; */
    padding: 3rem 21%;
    /* background-image: url("/homepage/分類-背景.png"); */
    background-size: 100% 100%;
  }

  .spec_banner,.top_banner_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 0;
  }
  .top_banner_area{
    padding-top: 12%;
    padding-bottom: 25%;
  }
  .top_banner_area>img {
    width: 60%;
    padding-right:10%;
  }
  .spec_banner>img{
    padding: 15% 10%;
  }
}

@media screen and (max-width:750px) {
  .desc_banner{
    width:50%;
    margin-right: 100px;
    padding: 5% 0;
  }

  .textArea li{
    font-size: 13px;
  }
  .adapt_pic{
    width:94vw;
    height: 102vw;
    margin: auto;
  }
  .padLayout{
    flex-direction: column;
  }
  .n_desc_banner{
    width: 60vw;
    margin-top: 65%;
    margin-bottom: 50%;
  }
  .s_spec_banner{
    padding: 25% 0;
  }
  /* .textArea{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 94vw;
    margin: auto;
    padding: 36px;
    font-size: 1.2rem;
  } */
}
@media screen and (max-width:675px) {
  .goods_list {
    /* background-color: red; */
    padding: 3rem 0;
    /* background-image: url("/homepage/分類背景.png"); */
    background-size: 100% 100%;
  }

  .banner_buttom {
    margin: 8px;
    margin-top: 20px;
    font-size: 14px;
  }

  .search_area {
    width:100%;
    padding: 12px;
    margin-top: 32px;
    font-size: 12px;
  }

  .serach_icon {
    font-size: 12px;
  }

}
@media screen and (max-width:992px) {
  .textArea{
    border-radius: 12px;
  } 
}
@media screen and (min-width:992px) {
  .textArea{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  } 
  .image_border{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}
/* @media screen and (max-width:1099px) {
  .goods_list{
    background-color: red;
     padding:3rem 20%;
    background-image: url("/homepage/分類背景.png");
    background-size: 100% 100%;
  }
} */

@media screen and (min-width:800px) {
  .designItem{
    width:48%;
    padding: 24px;
  }
  .designItem:nth-child(1){
     border-bottom: 1px solid white;
     border-right: 1px solid white;
     padding-right: 1%;
  }
  .designItem:nth-child(2){
    border-bottom: 1px solid white;
  }
  .designItem:nth-child(3){
    border-right: 1px solid white;
  }
  .IconSize{
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 120px;
  }
  .flowerDesgin{
    font-size: 35px;
  }
  .bannerTwoColumn{
    width:50%;
    /* height: 17vw; */
  }
}
@media screen and (max-width:800px) {
  .designItem{
    width:100%;
    margin-bottom: 12px;
  }
  .IconSize{
    width: 15vw;
    height: 15vw;
  }
  .flowerDesgin{
    font-size: 4vw;
  }
  .bannerTwoColumn{
    width:100%;
    /* height: 17vw; */
  }
}
