<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479858731031-6s0k2aio4sl1tj7s2orcim39t6plj44k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479858731031-6s0k2aio4sl1tj7s2orcim39t6plj44k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>479858731031-2soovei5mosb8o606r4tucfo8uite56f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSBm37OR-DeLtJGyIr1pLfzXnx2tCfZuk</string>
	<key>GCM_SENDER_ID</key>
	<string>479858731031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imaker.yfd.nunchaku</string>
	<key>PROJECT_ID</key>
	<string>nunchaku-e56ee</string>
	<key>STORAGE_BUCKET</key>
	<string>nunchaku-e56ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479858731031:ios:068423c4666cd59b679452</string>
	<key>DATABASE_URL</key>
	<string>https://nunchaku-e56ee-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>